<a href="https://colab.research.google.com/github/sampath9dasari/GSU/blob/master/BDP_In_class_Assignment_2_Susanth_Dasari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Assignment Notebook

Please submit the ipynb file at the end of the day for credit

# Excercise #1

In [94]:
from google.colab import files
files.upload()

{}

In [95]:
# Create a series of your choice and explore it
# <your code goes here>
#Import Python Libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt

e1 = pd.Series( range(1,50,2) )
print(e1)

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
20    41
21    43
22    45
23    47
24    49
dtype: int64

# Excercise #2

In [96]:
#Display first 10 records
# <your code goes here>
print(e1.head(10))

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int64

In [97]:
#Display first 20 records
# <your code goes here>
print(e1.head(20))

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
dtype: int64

In [98]:
#Display the last 5 records
# <your code goes here>
print(e1.tail(5))

20    41
21    43
22    45
23    47
24    49
dtype: int64

# Exercise #3

In [99]:
#Calculate the standard deviation (std() method) for all numeric columns
# <your code goes here>
df = pd.read_csv("Salaries.csv")
df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [100]:
#Calculate average of the columns in the first 50 rows
# <your code goes here>
df.head(50).mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

# Excercise #4

In [87]:
#Calculate the basic statistics for the salary column (used describe() method)
# <your code goes here>
df['salary'].describe()

count        78.000000
mean     108023.782051
std       28293.661022
min       57800.000000
25%       88612.500000
50%      104671.000000
75%      126774.750000
max      186960.000000
Name: salary, dtype: float64

In [88]:
#Calculate how many values in the salary column (use count() method)
# <your code goes here>
df['salary'].count()

78

In [89]:
#Calculate the average salary
# <your code goes here>
df['salary'].mean()

108023.78205128205

In [90]:
# Group data by the discipline and find the average salary for each group
# <your code goes here>
df1 = df.groupby(by='discipline').mean()
print(df1['salary'])

discipline
A     98331.111111
B    116331.785714
Name: salary, dtype: float64

# Excercise #5

In [91]:
# Extract (filter) only observations with high salary ( > 100K) and find how many female and male professors in each group
# <your code goes here>
df2 = df[df['salary']>100000].groupby(df['sex'])
print(df2['sex'].count())

sex
Female    21
Male      25
Name: sex, dtype: int64

In [92]:
# Sort data frame by the salary (in descending order) and display the first few records of the output (head)
# <your code goes here>
df3 = df.sort_values(by='salary',axis=0,ascending=False,inplace=False)
df3.head()

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
13  Prof          B   35       33    Male  162200
72  Prof          B   24       15  Female  161101
27  Prof          A   45       43    Male  155865
31  Prof          B   22       21    Male  155750

In [93]:
# Count how many missing data are in dep_delay and arr_delay columns
# <your code goes here>
flights = pd.read_csv("flights.csv")
print(flights.head())

print('No of missing values in dep_delay:',flights['dep_delay'].isnull().sum())
print('No of missing values in arr_delay:',flights['arr_delay'].isnull().sum())

   year  month  day  dep_time  dep_delay  ...  dest  air_time distance hour  minute
0  2013      1    1     517.0        2.0  ...   IAH     227.0     1400  5.0    17.0
1  2013      1    1     533.0        4.0  ...   IAH     227.0     1416  5.0    33.0
2  2013      1    1     542.0        2.0  ...   MIA     160.0     1089  5.0    42.0
3  2013      1    1     554.0       -6.0  ...   ATL     116.0      762  5.0    54.0
4  2013      1    1     554.0       -4.0  ...   ORD     150.0      719  5.0    54.0

[5 rows x 16 columns]
No of missing values in dep_delay: 2336
No of missing values in arr_delay: 2827